.main {
  padding: 1rem 0 10rem 0;
  min-height: var(--minContentHeight);
  box-sizing: border-box;
}

.content {
  padding-left: var(--contentLeftPadding);
  display: flex;
  flex-wrap: wrap;
  width: var(--contentWidth);
  gap: 1vw;
  justify-content: flex-start;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--contentWidth);
  padding-left: var(--contentLeftPadding);
  margin-bottom: 1rem;
}

.topRight {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
}
