.footer {
  height: 200px;
  background-color: black;
  padding-left: var(--contentLeftPadding);
}

.innerFooter {
  width: var(--contentWidth);
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5vw;
}

.innerFooter > div {
  max-width: 250px;
}

.innerFooter > div > p {
  color: gray;
}

.innerFooter > div > button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  margin: 0 0.5rem 0 0;
}
