.footer {
  height: 220px;
  background-color: black;
  padding: 0 0 1.5rem var(--contentLeftPadding);
}

.innerFooter {
  width: var(--contentWidth);
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.innerFooter > button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
}

.innerFooter > button > svg {
  width: 80%;
  height: 80%;
  fill: white;
}
